* {
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1600px;
    margin: 0px auto;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>h3 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 80px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

/* banner-styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    /* 162.5% */
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* banner-styles */

/* teams-section */

.teams {
    display: flex;
    align-items: center;
    padding: 50px 240px;
    /* flex-wrap: wrap; */
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-img-container img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}

.teams-content {
    height: 200px;
    width: 456px;
    padding-left: 68px;
}

.teams-content-title {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -57px;
}

.teams-description {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    /* 162.5% */
}

/* teams-section */

/* features-section */

.features {
    margin: 0px 240px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.features h2 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-left: solid 3px #FF900E;
    margin-bottom: 10px;
    padding-left: 20px;
}

.card-description {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0px;
    margin-right: 30px;
    padding: 8%;
}

.features img {
    height: 854px;
}

.experience {
    position: relative;
    top: -69px;
    right: 40px;
    height: 80px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 40px;
    background: #FF900E;
    width: 250px;
}

.experience>h1 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: -16px;
}

.experience>p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}


/* features-section */

/* facts-section */

.facts {
    margin: 0 240px;
}

.facts-text h3 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.facts-text p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 542px;
}

.awards-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    flex-wrap: wrap;
}

.awards {
    border-radius: 8px;
    border: 2px solid #FF900E;
    padding: 20px 30px;
}

.awards h3,
p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards h3 {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.awards p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.awards img {
    display: block;
    margin: 0px auto;
    margin-bottom: 5px;
}

/* facts-section */

/* sponsor-section */

.sponsors {
    margin: 0 240px;
}

.sponsor-text h3 {
    margin-top: 20px;
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.sponsor-text p {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 300px;
    /* 162.5% */
}

.sponsor-icons {
    display: flex;
    justify-content: space-between;
}

.sponsor-icons img {
    margin-top: 30px;
    height: 35px;
    filter: grayscale(100%);
}

/* sponsor-section */

/* footer-section */

footer {
    text-align: center;
    margin: 0px 240px;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 50px;
    margin-top: 100px;
    margin-bottom: 100px;

    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer-section */


/* responsive */

/* mobile-devices */
@media screen and (max-width: 576px) {
    header {
        padding: 15px;
    }

    nav {
        flex-direction: column;
    }

    nav li a {
        margin-right: -45px;
    }

    .teams {
        padding-left: 15px;
        flex-direction: column;
        margin-left: 50%;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        margin-top: 80px;
        margin-bottom: 181px;
        width: 258px;
        padding-left: 0px;
    }

    .features {
        margin-left: 20px;
        flex-direction: column;
    }

    .features h2 {
        width: 400px;
    }

    .card-description {
        width: 400px;
    }

    .feature-card {
        width: 300px;
    }

    .features img {
        height: 510px;
    }

    .experience {
        width: 217px;
        left: 15px;
    }

    .facts{
        margin-left: 20px;
        flex-direction: column;
    }
    .facts-text h3{
        width: 400px;
    }
    .facts-text p{
        width: 400px;
    }
    .awards{
        margin-left: 100%;
    }

    .sponsors{
        margin-left: 20px;
        flex-direction: column;     
    }
    .sponsor-text h3{
        width: 400px;
    }
    .sponsor-text p{
        width: 300px;
        margin-left: -161%;
    }
    .sponsor-icons{
        flex-wrap: wrap;
    }
    footer{
        margin-left: 20px;
        padding:0px 150px;
        text-align: right;
    }
}

/* tablets */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    body {}
}

/* responsive */